*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a5d7e8;
    text-align: center;
}

.container{
    height: 70vh;
    flex: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    background-color: #576cbc;
    border-color: skyblue;
    color: #ff0000;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0f1035;
    color: #fff;
    border-radius: 1rem;
    border: none; 
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0f1035;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #365486;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin ;
}

.hide{
    display: none;
}